extends layout

block extracss
  link(rel='stylesheet', href='css/about.css')

block content
  .container-full
    .container
      h2 What is this app for ?
      p
        | Have you ever came across a technical document that is too difficult to comprehend or too long to read  ?
        br
        | Have you ever wasted your time reading a document and later found out that it is not what you were looking for ?
        br
        br
        | If at least one of your answers is yes, then this app will be helpful. The main functionalities are:
      ol
        li Summarize your document into a few key sentences so that 
          span(style='color:#FFB93F')
            | you can get the main ideas without doing much reading.
        li Classify your document into relevant categories so that 
          span(style='color:#FFB93F')
            | you can decide whether the document is of your interest without even reading it.
