extends layout

block extracss
  link(rel='stylesheet', href='css/about.css')

block content
  .container-full
    .container
      h2 What is this app for ?
      p
        | Have you ever came across a technical document that is too difficult to comprehend ?
        br
        | Have you ever came across an article that is too long to read ?
        br
        | Are you simply tired of reading ?
        br
        br
        | If at least one of your answers is yes, then this app will be helpful. The main functionalities are:
      ol
        li Summarize your article into a few key sentences so that 
          span(style='color:#FFB93F')
            | you can get the main ideas without doing much reading.
        li Classify your document into relevant categories so that 
          span(style='color:#FFB93F')
            | you can know if the document is of your interest without even reading.
        li Generate audio from your text document so that 
          span(style='color:#FFB93F')
            | you can listen to the audio instead of reading the text
        
